NODE_ENV=development
PORT=3001

# Security
JWT_SECRET=change-this-super-secret-key
JWT_EXPIRES_IN=604800
ADMIN_USERNAME=admin
ADMIN_PASSWORD=change-this-password

# MongoDB
MONGODB_URI=mongodb://127.0.0.1:27017
MONGODB_DB_NAME=train_dare_academy
MONGODB_AUTO_INDEX=true
MONGODB_REQUIRED=false
MONGODB_SERVER_SELECTION_TIMEOUT_MS=5000
MONGODB_SOCKET_TIMEOUT_MS=20000

